.home {

  h1#page-title {
    text-align: center;
    font-size: calc(60 / var(--rem-base) * 1rem);
  }

  article {
    max-width: 100%;
  }

  .centered {
    text-align: center;
  }

  .grid {
    .sectionbody {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .column3 {
    display: block;
    padding: 1.5rem;
    width: 31.3%;
    margin: 1%;
    border-radius: 5px;
    border: 1px solid #d9e9e9;
    min-width: 320px;

    h3 {
      margin: 0;
    }
  }

  .projects {
    a {
      color: var(--doc-font-color);
    }
    :hover {
      text-decoration: none;
      color: var(--doc-font-color);
    }
    .column3:hover {
      margin-top: 8px;
      margin-bottom: 17px;
    }
  }

  .version {
    display: inline-block;
    background-color: #fcebaf;
    color: #111;
    align-items: center;
    border-radius: 4px;
    font-size: calc(12 / var(--rem-base) * 1rem);
    justify-content: center;
    padding: 0.25em 0.75em;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 600;
  }
  .version:hover {
    color: #111;
  }
}

html.dark-theme {
  .home {
    h1#page-title {
      color: #fff;
    }
    .column3 {
      background: #2b2f33;
      border-color: #2b2f33;
      h3 {
        color: #fff;
      }
    }
  }
}

html.sand-theme {
  .home {
    .column3 {
      background: #e7ce8e;
      border-color: #e7ce8e;
    }
  }
}
